{% extends "desk_app/layout.html" %}

{% block body %} 
    {% if user.is_authenticated %}
        
    <div class="btn-group" role="group" aria-label="Basic example">
        


        <!-- конпка праюцє без js -->
        <form action="{% url 'desk_app:simple_list' %}" method="GET">   
            <button type="submit" class="btn btn-outline-primary" id="show_pricelist">Show full list</button>
        </form>
        
        
        <form action="{% url 'desk_app:price_list_all' %}" method="GET">     
            <button type="submit" class="btn btn-outline-primary" id="">Pricelist</button>
        </form>    
    </div>
    <br>
    
    
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <div class="status_text"></div>
        <div class="status_text_scu"></div>
        <div class="status_text_barcode"></div>
        <div class="status_text_prices"></div>
        <!--div class="price_list_groups"></div-->
        <div class="jsGrid" id="jsGrid"></div>
        
        
    {% else %}
    {% endif %}    
{% endblock %}